<div class="signup-container d-flex align-items-center justify-content-center vh-100">
  <div class="signup-card card p-4 shadow-sm bg-white">
    <div class="text-center mb-4">
      <div class="logo mb-2">
        <img src="http://localhost:3000/uploads/eventura.png" alt="Logo" style="width: 32px;" class="me-2" />
      </div>
      <h5 class="fw-bold">Sign Up</h5>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="firstName" class="form-label">Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter your name" />
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Surname</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter your surname" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email" />
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password" />
      </div>
      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign Up</button>
      </div>
      <div class="text-center">
        <span>Already have an account? <a  href="/logging/login" class="text-decoration-none">Login here</a></span>
      </div>
    </form>
  </div>
</div>
